body {
    height: 100%; /* וודא שהגובה של הדף תופס את כל החלון */
    margin: 0; /* הסר את המרווחים המוגדרים ברירת מחדל */
}

#container{
    display: flex;
    flex-direction: column;
    align-items: center; /* מרכז את הכפתורים בציר ה-X */
    justify-content: center; /* מרכז את הכפתורים בציר ה-Y */
    height: 100%; /* וודא שהגובה של הקונטיינר תופס את כל גובה החלון */
    background-color: #FFFFFF !important;
    
}

button {
    color: #FFFFFF !important; 
    background-color: #04BB9C !important;
    margin: 10px; /* הוסף רווח בין הכפתורים */
}
