
   <div class="user-container">
    <div class="button-container">
        <button mat-raised-button color="primary" (click)="GetTeacher()">הצג מורות</button>
        <button mat-raised-button color="primary" (click)="GetPrincipal()">הצג מנהלות</button>
    </div>
    @if(teachers.length){
    <div >
        <h2>רשימת מורות</h2>
        <mat-list>
       
          @for(teacher of teachers;track teacher.name){
            <mat-list-item>
              <span class="icon" (click)="Delete(teacher.id,'Teacher')">
                <mat-icon color="primary">delete</mat-icon>
              </span>
          {{ teacher.name }}
        </mat-list-item>
           } 
        
       </mat-list>
    </div>
  }
  @if(principals.length>0){
    <div>
        <h2>רשימת מנהלות</h2>
        <mat-list>
          @for(principal of principals;track principal.name){
          <mat-list-item >
            <span class="icon" (click)="Delete(principal.id,'Pricipal')">
              <mat-icon color="primary">delete</mat-icon>
            </span> 
            {{ principal.name }}      
           </mat-list-item>
        }
        </mat-list>
    </div>
  }
</div>
