
   <div class="user-container">
    <div class="button-container">
        <button mat-raised-button color="primary" (click)="GetUsers()">הצג משתמשים</button>
    @if(users.length){
    <div >
        <h2>רשימת משתמשים</h2>
        <mat-list>
       
          @for(teacher of users;track teacher.name){
            <mat-list-item>
              <span class="icon" (click)="Delete(teacher.id,'Teacher')">
                <mat-icon color="primary">delete</mat-icon>
              </span>
          {{ teacher.name }}
        </mat-list-item>
           } 
        
       </mat-list>
    </div>
  }
</div>
