<!-- <div>
    <button (click)="GetTeacher()">הצג מורות</button>
    
   @if(teachers.length > 0){
      <h2>רשימת מורות:</h2>
      <ul>
        @for(teacher of teachers;track teacher.name){
          {{ teacher.name }}   הנח שהאובייקט teacher מכיל מאפיין בשם name -->
    <!-- }
      </ul>
    }
    <button (click)="GetPrincipal()">הצג מנהלות</button>
    
    @if(principals.length > 0){
       <h2>רשימת מנהלות:</h2>
       <ul>
         @for(principal of principals;track principal.name){
           {{ principal.name }}  הנח שהאובייקט teacher מכיל מאפיין בשם name -->
     <!-- }
       </ul>
     }
  </div> -->
  <!-- <div class="user-container">
    <div>
    <button mat-raised-button color="primary" (click)="GetTeacher()">הצג מורות</button>
      <h2>רשימת מורות</h2>
      <mat-list>
       
          @for(teacher of teachers;track teacher.name){
            <mat-list-item>
          {{ teacher.name }}
        </mat-list-item>
           } הנח שהאובייקט teacher מכיל מאפיין בשם name -->
        
      <!-- </mat-list>
    <button mat-raised-button color="primary" (click)="GetPrincipal()">הצג מנהלות</button>
      <h2>רשימת מנהלות</h2>
      <mat-list>
        @for(principal of principals;track principal.name){
        <mat-list-item >
          {{ principal.name }}  הנח שהאובייקט principal מכיל מאפיין בשם name -->
        <!-- </mat-list-item>
      }
      </mat-list>
  </div>
   -->
   <div class="user-container">
    <div class="button-container">
        <button mat-raised-button color="primary" (click)="GetTeacher()">הצג מורות</button>
        <button mat-raised-button color="primary" (click)="GetPrincipal()">הצג מנהלות</button>
    </div>
    @if(teachers.length){
    <div >
        <h2>רשימת מורות</h2>
        <mat-list>
       
          @for(teacher of teachers;track teacher.name){
            <mat-list-item>
          {{ teacher.name }}
        </mat-list-item>
           } 
        
       </mat-list>
    </div>
  }
  @if(principals.length>0){
    <div>
        <h2>רשימת מנהלות</h2>
        <mat-list>
          @for(principal of principals;track principal.name){
          <mat-list-item >
            {{ principal.name }} 
           </mat-list-item>
        }
        </mat-list>
    </div>
  }
</div>
