.user-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    background-color: #FFFFFF !important;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    
}

h2 {
    text-align: center;
    color: #04BB9C !important;
}

mat-list-item {
    color: #04BB9C !important;
}

.icon mat-icon {
    color: #04BB9C !important;
}
button{
    color:#FFFFFF !important; 
    background-color:#04BB9C   !important;
}
