.file-upload-container {
    text-align: center;
    padding: 20px;
    background-color: #f5f5f5 !important; /* צבע רקע בהיר */
    border-radius: 8px; /* פינות מעוגלות */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) !important; /* צל */
}

.upload-button-container {
    margin: 20px 0; /* רווחים סביב הכפתור */
}

.upload-button {
    background-color: #008080 !important; /* צבע טורקיז */
    color: white !important;
    border-radius: 4px; /* פינות מעוגלות */
    padding: 10px 20px; /* רווחים פנימיים */
    font-size: 16px; /* גודל טקסט */
}

.upload-button:hover {
    background-color: #006666 !important; /* צבע כהה יותר בהעברת עכבר */
}
.h1{
    color: #006666;
}
/* עיצוב עבור input של בחירת קובץ */
input[type="file"] {
    align-items: center !important;
    color: #006666 !important;
    display: block !important;
    margin: 20px auto !important; /* מרכז את הקלט */
    padding: 10px !important; /* רווחים פנימיים */
    border: 1px solid #ccc !important; /* גבול */
    border-radius: 4px; /* פינות מעוגלות */
    font-size: 16px !important; /* גודל טקסט */
    cursor: pointer !important; /* מצביע עכבר */
}
