body {
    background-color: #f0f0f0 !important; /* צבע רקע כללי */
    margin: 0;
    font-family: 'Arial', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* ממקם את התוכן במרכז */
}

.form {
    background-color: white !important; /* צבע רקע לטופס */
    border-radius: 8px; /* פינות מעוגלות */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* צל */
    padding: 20px; /* רווח פנימי */
    width: 100%; /* רוחב מלא */
    max-width: 400px; /* רוחב מקסימלי */
}

h4 {
    color: #008080 !important; /* צבע הכותרת */
}

button {
    background-color: #008080 !important; /* צבע כפתור */
    color: white; /* צבע טקסט בכפתור */
}

button:hover {
    background-color: #006666 !important; /* צבע כפתור בעת ריחוף */
}
.MuiInputAdornment-root {
    display: flex !important;
}
.MuiIconButton-root {
    color: #008080 !important;
}