.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #FFFFFF;
}

mat-form-field {
    width: 100%;
    max-width: 400px;
    margin-bottom: 16px;
}

button {
    margin-top: 16px;
    background-color: #04BB9C !important;
    color: white;
}

.form-field {
    width: 100%;
    max-width: 400px;
    margin-bottom: 16px;
}
h1{
    color: #04BB9C !important;
}